@charset "ISO-8859-1";

.header {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
}

.main-content {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	margin-top: 1%;
}

.footer {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 10px;
}

.margins {
	margin: 1%;
	padding: 1%;
}

.labels {
	margin: 2%;
	padding: 2%;
}

.values {
	margin: 2%;
	padding: 2%;
}



@media screen and (max-width: 799px) {
	
}

@media screen and (min-width: 800px) {
	
}